__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Python build artifacts
build/
dist/
*.egg-info/
.eggs/

# Unit test / coverage
.coverage
.pytest_cache/
htmlcov/
.tox/
.nox/
coverage.xml

# IDE/editor config
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
